:root {
  --header: #181434b7;
  --green: #00c4b3;
  --darkblue: #181434;
  --white: #fff;
}
body {
  margin: 0;
  padding: 0;
  color: var(--white);
}
h1 {
  color: var(--white);
  opacity: 0.7;
}
a {
  text-decoration: none;
  color: white;
}
p {
  color: var(--white);
}
/* First section */
.space-section {
  background-image: url(../img/background/space-section.png);
  height: 100vh;
}

/* Header */
header {
  background-color: var(--header);
  height: 80px;
}
.logo {
  width: 180px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
#MenuItems {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.btn-reservation {
  border: solid 1px white;
  background-color: transparent;
  color: white;
  padding: 0.6rem;
  border-radius: 50px;
  font-size: 16px;
  /* cursor: pointer; */
  transition: all 0.3s ease-in-out;
}
.btn-reservation:hover {
  background-color: var(--green);
  color: white;
  border: solid 1px var(--green);
}

/* space-animate */

.container-space {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
#img-tilt {
  transform-style: preserve-3d;
}
.img-imp {
  width: fit-content;
  height: fit-content;
  right: 70%;
  position: relative;
}
.section1 {
  position: absolute;
  margin-bottom: 10px;
  left: 70%;
  transition: transform 0.3s ease;
  font-size: 80px;
}
.center-image {
  position: absolute;
  top: 0;
  width: fit-content;
  height: fit-content;
  /* width: 50%; */
  /* height: 300px; */
  rotate: 4deg;
  transition: transform 0.2s ease;
}
.section2 {
  position: absolute;
  margin-top: 45%;
  left: 15%;
  width: 20%;
  height: auto;
  transition: transform 0.3s ease;
}
.second {
  margin-top: 40%;
}
.btn-catalogue {
  border: solid 1px var(--green);
  background-color: transparent;
  color: var(--green);
  padding: 0.6rem;
  border-radius: 50px;
  font-size: 16px;
}
.basic-section {
  background-color: var(--green);
}

/* Carousel */

.swiper-container {
  margin-top: 20%;
  width: 100%;
  /* height: 200px; */
}

.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 1000px;
}

.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
  z-index: 1;
}

.swiper-slide-next,
.swiper-slide-prev {
  transform: translate3d(0, 0, -20px) rotateY(-10deg);
}

.swiper-slide-next {
  transform: translate3d(0, 100%, 0) rotateY(-10deg);
}

.swiper-slide-prev {
  transform: translate3d(0, -100%, 0) rotateY(-10deg);
}

.swiper-slide-next.swiper-slide-visible {
  transform: translate3d(0, 0, 0) rotateY(0);
}

.swiper-slide-prev.swiper-slide-visible {
  transform: translate3d(0, 0, 0) rotateY(0);
}

/* Animation */

.swiper-container {
  margin-top: 20%;
  width: 100%;
  height: 500px;
  /* height: 200px; */
}

.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 1000px;
}

.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev {
  z-index: 1;
}

.swiper-slide-next,
.swiper-slide-prev {
  transform: translate3d(0, 0, -20px) rotateY(-10deg);
}

.swiper-slide-next {
  transform: translate3d(0, 100%, 0) rotateY(-10deg);
}

.swiper-slide-prev {
  transform: translate3d(0, -100%, 0) rotateY(-10deg);
}

.swiper-slide-next.swiper-slide-visible {
  transform: translate3d(0, 0, 0) rotateY(0);
}

.swiper-slide-prev.swiper-slide-visible {
  transform: translate3d(0, 0, 0) rotateY(0);
}

/* Fullpage */

.fp-watermark {
  display: none;
}